Repository Azure/shrike, pull requests merged in 2021-06, with the labels that each got.

#70 Support error threshold in the compute yaml
  README.md
  requirements/requirements-dev.txt
  shrike/__init__.py
  shrike/pipeline/pipeline_config.py
  shrike/pipeline/pipeline_helper.py
  tests/tests_build/commands/test_prepare.py
  tests/tests_build/commands/test_register.py
  tests/tests_pipeline/data/test_configuration.yaml
  tests/tests_pipeline/sample/steps/prscomponentlinux/module_env.yaml
  tests/tests_pipeline/sample/steps/prscomponentlinux/module_spec.yaml
  tests/tests_pipeline/sample/steps/prscomponentlinux/run.py
  tests/tests_pipeline/test_pipeline_helper.py
Labels: shrike.pipeline

#74 remove `module_name` from `apply_recommended_runsettings`
  shrike/__init__.py
  shrike/pipeline/pipeline_helper.py
  tests/tests_pipeline/data/test_configuration.yaml
  tests/tests_pipeline/sample/pipeline/convert_tsv_to_ss_test.py
  tests/tests_pipeline/sample/steps/dummy/module_spec.yaml
  tests/tests_pipeline/test_pipeline_helper.py
  tests/tests_pipeline/test_pipelines_sample.py
Labels: shrike.pipeline

#78 Add unit tests for `pipeline_helper.py` (part 1)
  tests/tests_pipeline/data/test_configuration.yaml
  tests/tests_pipeline/sample/steps/stats_passthrough_windows_mpi/default_env.yaml
  tests/tests_pipeline/sample/steps/stats_passthrough_windows_mpi/module_spec.yaml
  tests/tests_pipeline/sample/steps/stats_passthrough_windows_mpi/run.py
  tests/tests_pipeline/test_pipeline_helper.py
Labels: enhancement, shrike.pipeline

#90 Implement a method that extracts all Python package dependencies
  shrike/__init__.py
  shrike/build/commands/prepare.py
  tests/tests_build/commands/test_prepare.py
  tests/tests_build/steps/component4/spec.yaml
Labels: shrike.build

#99 add sweep component support to shrike.pipeline
  shrike/__init__.py
  shrike/pipeline/pipeline_helper.py
  tests/tests_pipeline/data/test_configuration.yaml
  tests/tests_pipeline/sample/conf/modules/samples_20210208.yaml
  tests/tests_pipeline/sample/conf/pipelines/sweep_component_test.yaml
  tests/tests_pipeline/sample/pipeline/sweep_component_test.py
  tests/tests_pipeline/sample/steps/sweep_component/conda.yaml
  tests/tests_pipeline/sample/steps/sweep_component/module_spec.yaml
  tests/tests_pipeline/sample/steps/sweep_component/run.py
  tests/tests_pipeline/sample/steps/sweep_component/trial.yaml
  tests/tests_pipeline/test_pipeline_helper.py
Labels: enhancement, shrike.pipeline
