Repository Azure/shrike, pull requests merged in 2021-08, with the labels that each got.

#147 Fix to some smaller bugs in the compliant Logger module
  shrike/__init__.py
  shrike/compliant_logging/logging.py
  shrike/compliant_logging/system_info.py
  tests/tests_compliant_logging/test_logging.py
  tests/tests_compliant_logging/test_system_info.py
Labels: bug

#171 Add shrike version number into pipeline tag
  shrike/__init__.py
  shrike/pipeline/pipeline_helper.py
Labels: shrike.pipeline

#180 Remove unused keyword `source` from module_helper
  shrike/__init__.py
  shrike/pipeline/module_helper.py
Labels: invalid, shrike.pipeline
